{% set alignment = paragraph.field_text_position.value %}
{% if content.field_image.0 %}
    {% set class = " has-img" %}
{% endif %}
{% if content.field_form.0 %}
    {% set form = " has-form" %}
{% endif %}
<div class="hero{{class}}{{form}}">
    <div class="img">      
        {{ content.field_image }}
    </div>
    <div class="blurb {{alignment}}">
        <div class="container">
            <div class="inner">
                <h1>{{content.field_title.0}}</h1>
                {{ content.field_body }}
            </div>
            {% if content.field_form.0 %}
                <div class="form">
                    {{ content.field_form }}
                </div>
            {% endif %}
        </div>
    </div>
</div>